# Format

---

##### syntax=format(value,specifiers)

In [1]:
format(8/9,'.3f')                                 # after dot only three numbers display

'0.889'

In [3]:
format('reddy','>40')                                   # right

'                                   reddy'

In [6]:
format('reddy','<40')                                  # left

'reddy                                   '

In [5]:
format('reddy','^40')                                   # middle

'                 reddy                  '

### Identifiers

In [1]:
var_1=40

In [2]:
var_1

40

##### variables are  not using in starting numbers and special characheters like @$#

In [4]:
#5var=30                                ...syntax error

In [5]:
# va@r=30

###### keywords

In [8]:
# and=74                     .....syntax error                ...all keywords to showin--> help(keywords)

---

###### membership operator

In [9]:
5 in [2,3,4,5]

True

In [10]:
5 not in[2,3,4,5]

False

In [8]:
a=input('plese enter out name')
print('your name is:',a)

plese enter out namereddy
your name is: reddy

In [13]:
print(""" pvb
reddy""")

 pvb
reddy

### controles

1)Sequential controle

In [16]:
print('hello')
print('pvbr')
print('reddy')

hello
pvbr
reddy

2).iterational controles

In [1]:
var=1
while var<=10:
    print(var)
    var=var+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
tab=int(input('Enter the table number:'))
while tab<=20:
    print(tab)
    tab=tab+1

3)Selection controle

##### if else

In [5]:
marks=int(input("enter marks"))
if marks>=35:
    print('got pass')
else:
    print('sry we got fail')

enter marks67
got pass

##### if condition

In [8]:
marks=int(input('enter marks'))
if marks==100:
    print('parfect marks')
print('thanks you')

enter marks23
thanks

##### nexted if

In [3]:
name='reddy'
college='bec'
marks=56
if name=='reddy':
    if college=='bec':
        print('reddy in bec college marks:',marks,)

reddy in bec college marks: 56

###### multiple condition

In [5]:
'''if cond1:
    state1
else:
    if cond2:
        state
    else:
        state'''

'if cond1:\n    state1\nelse:\n    if cond2:\n        state\n    else:\n        state'

##### Iterative controlers

1.for statement
2.while statement

In [6]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [7]:
for numb in [39,22,33,11,43]:
    if numb>=25:
        print(numb,'greter than 25')
    else:
        print(numb,'less than 25')

39 greter than 25
22 less than 25
33 greter than 25
11 less than 25
43 greter than 25

In [6]:
x=100
x=x-100.0
x

0.0

In [7]:
if 0:
    print('true')
else:
    print('fals')

fals

In [9]:
count=1
while count<=5:
    print(count)
    count=count+1
print('good bye')

1
2
3
4
5
good bye

###### loop countrols

In [2]:
count=0
while count<=5:
    if count==3:
        break
    else:
        print(count)
        count=count+1
print('thank you')

0
1
2
thank you

In [12]:
for let in 'reddy':
    if let=='d':
        break
    else:
        print(let)

r
e

---

# LIST

##### 1.mutable
##### 2.linear data structure
##### 3.mixed type elements
##### 4.variable length
##### 5.zero based index

In [7]:
animals=[]

In [9]:
animals=['dog','cat','monkey']

In [11]:
animals[1]

'cat'

##### list operations

##### 1.Replace

In [14]:
list=[10,20,30,40,5.7]

In [16]:
list[2]=3.7

In [17]:
list

[10, 20, 3.7, 40, 5.7]

##### 2.Insert

In [21]:
lis=[10,20,30]
lis.insert(1,500)
lis

[10, 500, 20, 30]

##### 3.Sort

In [23]:
animals

['dog', 'cat', 'monkey']

In [26]:
animals.insert(-1,'lion')

In [31]:
animals

['cat', 'dog', 'lion', 'monkey']

In [ ]:
animals.sort()

In [39]:
animals

['cat', 'dog', 'lion', 'monkey']

##### 4.Delete

In [40]:
list

[10, 20, 3.7, 40, 5.7]

In [41]:
del list[2]

In [42]:
list

[10, 20, 40, 5.7]

In [43]:
del list

In [44]:
list

list

In [45]:
type(animals)

list

##### 5.Append

insert the elements on the list

In [47]:
animals

['cat', 'dog', 'lion', 'monkey']

In [48]:
animals.append('donkey')

In [49]:
animals

['cat', 'dog', 'lion', 'monkey', 'donkey']

##### 6.Reverse

In [50]:
animals.reverse()

In [51]:
animals

['donkey', 'monkey', 'lion', 'dog', 'cat']

---

# Tuple

1).immutable
2).It is similar to be list

In [52]:
animals=('dog','cat','monkey')

In [59]:
animals[1]

'cat'

In [56]:
tuple=((10,2,3),(3,5,4))

In [58]:
tuple[0][1]

2

### Sequences

1)length, 2)slect,  3)slice,  4)Count, 5)Index,  6)Membership,  7)Concatination,  8)Min value  9)Max value,  10)Sum

---> list,tuple,string are called sequences

##### length

In [7]:
name='amule'
list1=[1,2,4,6,8]
tuple1=(23,43,43,33,22)

In [2]:
len(list1)

5

In [4]:
len('name')

4

In [5]:
len(tuple1)

5

##### Select

In [9]:
name[2]

'u'

In [10]:
list1[3]

6

In [11]:
tuple1[2]

43

##### Slice

In [12]:
name[1:4]

'mul'

In [13]:
list1[1:]

[2, 4, 6, 8]

In [15]:
tuple1[:2]

(23, 43)

##### Count

In [18]:
name.count('m')

1

In [20]:
list1.count(5)

0

##### Index

In [22]:
name.index('l')

3

In [25]:
tuple1.index(22)

4

##### Membership

In [26]:
'm' in name

True

In [27]:
'm' not in name

False