# Format

---

##### syntax=format(value,specifiers)

In [1]:
format(8/9,'.3f')                                 # after dot only three numbers display

'0.889'

In [3]:
format('reddy','>40')                                   # right

'                                   reddy'

In [6]:
format('reddy','<40')                                  # left

'reddy                                   '

In [5]:
format('reddy','^40')                                   # middle

'                 reddy                  '

### Identifiers

In [1]:
var_1=40

In [2]:
var_1

40

##### variables are  not using in starting numbers and special characheters like @$#

In [4]:
#5var=30                                ...syntax error

In [5]:
# va@r=30

###### keywords

In [8]:
# and=74                     .....syntax error                ...all keywords to showin--> help(keywords)

---

###### membership operator

In [9]:
5 in [2,3,4,5]

True

In [10]:
5 not in[2,3,4,5]

False

In [8]:
a=input('plese enter out name')
print('your name is:',a)

plese enter out namereddy
your name is: reddy

In [13]:
print(""" pvb
reddy""")

 pvb
reddy

### controles

1)Sequential controle

In [16]:
print('hello')
print('pvbr')
print('reddy')

hello
pvbr
reddy

2).iterational controles

In [1]:
var=1
while var<=10:
    print(var)
    var=var+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
tab=int(input('Enter the table number:'))
while tab<=20:
    print(tab)
    tab=tab+1

In [ ]:
3)Selection controle

##### if else

In [5]:
marks=int(input("enter marks"))
if marks>=35:
    print('got pass')
else:
    print('sry we got fail')

enter marks67
got pass

##### if condition

In [8]:
marks=int(input('enter marks'))
if marks==100:
    print('parfect marks')
print('thanks you')

enter marks23
thanks

##### nexted if